body {
  background: #25A9FC;
}

.box {
  position: relative;
  margin: auto;
  margin-top: 10%;
  width: 600px;
  height: 420px;
  background: none;
}

.head {
  position: absolute;
  left: 25%;
  top: 16.5%;
  width: 50%;
  height: 67%;
  border-radius: 50%;
  background: #A6BECF;
}

.head-copy {
  width: 100%;
  height: 100%;
  position: absolute; 
  background: #A6BECF;
  border-radius: 50%;
  z-index: 2;
}

.left-ear {
  position: absolute;
  left: -20%;
  top: 5%;
  width: 60%;
  height: 65%;
  border-radius: 50%;
  background: #A6BECF;
  z-index: 1;
}

.right-ear {
  position: absolute;
  right: -20%;
  top: 5%;
  width: 60%;
  height: 65%;
  border-radius: 50%;
  background: #A6BECF;
  z-index: 1;
}

.inner-ear {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: #819CAF;
}

.left-eye {
  position: absolute;
  width: 33%;
  height: 30%;
  top: 25%;
  left: 21%;
  border-radius: 50%;
  background: white;
  z-index: 3;
}

.right-eye {
  position: absolute;
  width: 33%;
  height: 30%;
  top: 25%;
  right: 21%;
  border-radius: 50%;
  background: white;
  z-index: 2;
}

.inner-eye {
  position: absolute;
  top: 35%;
  left: 36%;
  width: 28%;
  height: 30%;
  background: #27354A;
  border-radius: 50%;
  z-index: 4;  
}

.nose {
  position: absolute;
  top: 47%;
  left: 35%;
  width: 30%;
  height: 25%;
  background: #BE845F;
  border-radius: 50px;
  z-index: 4;
}

.hair-left {
  position: absolute;
  top: -8%;
  left: 30%;
  background:  #A6BECF;
  height: 20%;
  width: 20%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.hair-left {
  position: absolute;
  top: -8%;
  left: 30%;
  background:  #A6BECF;
  height: 20%;
  width: 20%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.hair-left {
  position: absolute;
  top: -8%;
  left: 30%;
  background:  #A6BECF;
  height: 20%;
  width: 20%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.hair-right {
  position: absolute;
  top: -4%;
  left: 48%;
  background:  #A6BECF;
  height: 20%;
  width: 20%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
